@{
    ViewData["Title"] = "Home Page";
    string[] TableHeaders = new string[] {"NotesID"
                    ,"Title"
                    ,"Notes"
                    ,"LanguageCode"};
}

<div class="table">
    <table>
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>